



<div class="postbody">

<h3>POSTS</h3>

<h3><%= link_to "New Post", new_post_path %></h3>

<% @posts.each do |post| %>
  <article>

    <h4><%= post.title.html_safe %></h4>
    <p><%= post.content.html_safe %></p>
    <p><%= link_to "Edit", "/posts/#{post.id}/edit" %>
    <%= button_to "Delete", "/posts/#{post.id}", method: :delete %>
  </p>
<!--
      <%= link_to "delete", @post, method: :delete %> -->



    <hr>
  </article>
<% end %>




</div>
